body {
    background: url(../img/honda.png);
}
h1 {
    color: white;
    position: center;
}

label{
    color: white;
}
.alert{
    width: 98%;
    border: 2px solid;
    padding: 10px;
    color: white;
    background-color: #f8d7da;
}
